[Unit]
Description=Network Chrome refresh server
After=network.target

[Service]
ExecStart=/home/pi/raspberry_refresh/server.py
Type=simple
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
Alias=sshd.service
